{{ define "main" }}
{{ $image := .Page.Resources.GetMatch "picture.jpg" }}
{{ $posts := first 5 (where site.RegularPages "Section" "posts") }}
<main aria-role="main">
  <header class="homepage-header">
    <h1>{{.Title}}</h1>
    {{ with .Params.subtitle }}
    <span class="subtitle">{{.}}</span>
    {{ end }}
  </header>
  <div class="homepage-content">
    <img class="homepage-image" src="{{ $image.RelPermalink }}" alt="Picture of myself">
    <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
    {{.Content}}
  </div>
  <div class="post">
    <h3>Latest blog posts</h3>
    <ul>
      <!-- Ranges through content/posts/*.md -->
      {{ range $posts }}
      <li>
        <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
      </li>
      {{ end }}
    </ul>
    {{readFile "/publicSpeaking.md" | markdownify }}
    {{readFile "/contact.md" | markdownify }}
  </div>
</main>
{{ end }}