.homepage-image {
  max-width: 220px !important;
  float: left;
  margin: 0 1.5rem 1.5rem 0;
}

.job-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job-title .tools {
  padding-top: 1rem;
  display: flex;
  align-items: center;
}

.job-title .tools img {
  height: 1.5rem;
  margin: .5rem;
}

.post-meta {
  color: rgb(238, 114, 241)
}

:root {
  --accent: #9980FA
}

.img-grid img {
  width: 100%;
}

.img-grid {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin: 3rem 0;
}

@media screen and (min-width: 768px) {
  .img-grid {
    grid-template-columns:repeat(2, minmax(200px, 1fr));
  }
}

@media screen and (min-width: 1200px) {
  .img-grid {
    grid-template-columns: repeat(3, minmax(300px, auto));
  }
}